<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/studhome_style.css' %}">
  
  <title></title>
</head>


<body>
  <header class="navbar">
    <ul class="navigation">
      <li><a class="nava" href="">Home</a></li>
      <li><a class="nava" href="">Discover</a></li>
      <li><a class="nava" href="">Search</a></li>
      <li><a class="nava" href="">Profile</a></li>
    </ul>
  </header>
  <main class="content">
    <div id="container-grid">
      <div class="grid-item gia">
        <div class="left">
          <p class="title">Say hello to the <a class="linkable" href="">future</a></p>
          <p class="desc">Shaping the way in digital technologies to give you a unique and tailored online experience</p>
        </div>
        <div class="right">
          <img src="https://img.freepik.com/free-vector/startup-rocket-launch-project-start-setting-business-company-founding-teamwork-cooperation-partnership-businesspeople-cartoon-characters_335657-1191.jpg" alt="" class="side-img">
        </div>
      </div>
      <div class="grid-item gib">
        <p class="title"> Creating <a class="linkable" href="">your</a> future</p>
        <p>When you entrust us with your data, we make sure that we will not dissapoint. With awards from a multitude of sites, we create a safe environment for your business.</p>
      </div>
      <div class="grid-item sg giv">
        <div class="align">
        <p class="title">Analytics</p>
        </div>
        <p>When finding your product, it can be difficult to pinpoint <a href="" class="linkable">customer salespoints</a>. Thats where we come in, doing that hard work for you so you can relax.</p>
      </div>
      <div class="grid-item sg giw">
        <div class="align">
        <p class="title">Efficient</p>
        </div>
      </div>
      <div class="grid-item sg gix">
        <div class="align">
        <p class="title">Centralization</p>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer"></footer>
</body>
</html>